{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="root"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="application/javascript" src="{{ asset('static/bundle.js') }}"></script>
{% endblock %}
